<a href="https://colab.research.google.com/github/digvijay-sharma123/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

2.2.2

In [ ]:
df = [1,24,3]
dfnew = pd.Series(df)
print(dfnew)

0     1
1    24
2     3
dtype: int64

**LABELLING**

In [ ]:
dfnew = pd.Series(df, index = ["x", "y", "z"])
print(dfnew)

x     1
y    24
z     3
dtype: int64

In [ ]:
df = {"day1":[12,114,5],"day2":[12,45,34],"day3":[121,415,314]}
dfnew = pd.DataFrame(df)
print(dfnew)

   day1  day2  day3
0    12    12   121
1   114    45   415
2     5    34   314

In [ ]:
print(dfnew.loc[0:1])

   day1  day2  day3
0    12    12   121
1   114    45   415

In [ ]:
print(dfnew.loc[0])

day1     12
day2     12
day3    121
Name: 0, dtype: int64

In [ ]:
print(dfnew.loc[[0,1]])

   day1  day2  day3
0    12    12   121
1   114    45   415

In [ ]:
dfnew = pd.DataFrame(df,index=["col1","col2","col3"])
print(dfnew)

      day1  day2  day3
col1    12    12   121
col2   114    45   415
col3     5    34   314

In [ ]:
print(dfnew.loc["col2"])

day1    114
day2     45
day3    415
Name: col2, dtype: int64

In [ ]:
print(dfnew.loc[["col1","col3"]])

      day1  day2  day3
col1    12    12   121
col3     5    34   314

**Load the data from csv file into dataframe**

with help of to string function whole data is printed else only .. value printed if we not use to_string

In [ ]:
fileload = pd.read_csv('/content/pandas_data.csv')
print(fileload.to_string())

    id first_name                         email   gender
0    1       Baxy   bbutterley0@liveinternet.ru     Male
1    2    Jillian  jverbeke1@barnesandnoble.com   Female
2    3     Artair         ashimmings2@google.ru     Male
3    4     Bonita            bharbertson3@de.vu   Female
4    5      Brody     bwiersma4@kickstarter.com  Agender
5    6      Ulick  umcguinley5@businesswire.com     Male
6    7      Paige               plevee6@last.fm   Female
7    8      Glenn              glott7@google.nl   Female
8    9       Alon         atantrum8@youtube.com     Male
9   10      Boone       branklin9@newyorker.com     Male
10  11       Theo      tkarpmana@altervista.org     Male
11  12      Donna     donealb@cocolog-nifty.com   Female
12  13       Orin      omarskellc@canalblog.com     Male
13  14    Chaunce           csaged@springer.com     Male
14  15   Sinclare          sswatridgee@cnet.com     Male

In [ ]:
fileload = pd.read_csv('/content/pandas_data.csv')
print(fileload)

    id first_name                         email   gender
0    1       Baxy   bbutterley0@liveinternet.ru     Male
1    2    Jillian  jverbeke1@barnesandnoble.com   Female
2    3     Artair         ashimmings2@google.ru     Male
3    4     Bonita            bharbertson3@de.vu   Female
4    5      Brody     bwiersma4@kickstarter.com  Agender
5    6      Ulick  umcguinley5@businesswire.com     Male
6    7      Paige               plevee6@last.fm   Female
7    8      Glenn              glott7@google.nl   Female
8    9       Alon         atantrum8@youtube.com     Male
9   10      Boone       branklin9@newyorker.com     Male
10  11       Theo      tkarpmana@altervista.org     Male
11  12      Donna     donealb@cocolog-nifty.com   Female
12  13       Orin      omarskellc@canalblog.com     Male
13  14    Chaunce           csaged@springer.com     Male
14  15   Sinclare          sswatridgee@cnet.com     Male