<a href="https://colab.research.google.com/github/digvijay-sharma123/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [ ]:
df = [1,24,3]
dfnew = pd.Series(df)
print(dfnew)

0     1
1    24
2     3
dtype: int64

**LABELLING**

In [ ]:
dfnew = pd.Series(df, index = ["x", "y", "z"])
print(dfnew)

x     1
y    24
z     3
dtype: int64

In [ ]:
df = {"day1":[12,114,5],"day2":[12,45,34],"day3":[121,415,314]}
dfnew = pd.DataFrame(df)
print(dfnew)

   day1  day2  day3
0    12    12   121
1   114    45   415
2     5    34   314

In [ ]:
print(dfnew.loc[0:1])

   day1  day2  day3
0    12    12   121
1   114    45   415

In [ ]:
print(dfnew.loc[0])

day1     12
day2     12
day3    121
Name: 0, dtype: int64

In [ ]:
print(dfnew.loc[[0,1]])

   day1  day2  day3
0    12    12   121
1   114    45   415

In [ ]:
dfnew = pd.DataFrame(df,index=["col1","col2","col3"])
print(dfnew)

      day1  day2  day3
col1    12    12   121
col2   114    45   415
col3     5    34   314

In [ ]:
print(dfnew.loc["col2"])

day1    114
day2     45
day3    415
Name: col2, dtype: int64

In [ ]:
print(dfnew.loc[["col1","col3"]])

      day1  day2  day3
col1    12    12   121
col3     5    34   314

**Load the data from csv file into dataframe**

with help of to string function whole data is printed else only .. value printed if we not use to_string

In [3]:
fileload = pd.read_csv('/content/sample_data/pandas_data.csv')
print(fileload.to_string())

    id first_name                         email   gender
0    1       Baxy   bbutterley0@liveinternet.ru     Male
1    2    Jillian  jverbeke1@barnesandnoble.com   Female
2    3     Artair         ashimmings2@google.ru     Male
3    4     Bonita            bharbertson3@de.vu   Female
4    5      Brody     bwiersma4@kickstarter.com  Agender
5    6      Ulick  umcguinley5@businesswire.com     Male
6    7      Paige               plevee6@last.fm   Female
7    8      Glenn              glott7@google.nl   Female
8    9       Alon         atantrum8@youtube.com     Male
9   10      Boone       branklin9@newyorker.com     Male
10  11       Theo      tkarpmana@altervista.org     Male
11  12      Donna     donealb@cocolog-nifty.com   Female
12  13       Orin      omarskellc@canalblog.com     Male
13  14    Chaunce           csaged@springer.com     Male
14  15   Sinclare          sswatridgee@cnet.com     Male

In [4]:
fileload = pd.read_csv('/content/sample_data/pandas_data.csv')
print(fileload)

    id first_name                         email   gender
0    1       Baxy   bbutterley0@liveinternet.ru     Male
1    2    Jillian  jverbeke1@barnesandnoble.com   Female
2    3     Artair         ashimmings2@google.ru     Male
3    4     Bonita            bharbertson3@de.vu   Female
4    5      Brody     bwiersma4@kickstarter.com  Agender
5    6      Ulick  umcguinley5@businesswire.com     Male
6    7      Paige               plevee6@last.fm   Female
7    8      Glenn              glott7@google.nl   Female
8    9       Alon         atantrum8@youtube.com     Male
9   10      Boone       branklin9@newyorker.com     Male
10  11       Theo      tkarpmana@altervista.org     Male
11  12      Donna     donealb@cocolog-nifty.com   Female
12  13       Orin      omarskellc@canalblog.com     Male
13  14    Chaunce           csaged@springer.com     Male
14  15   Sinclare          sswatridgee@cnet.com     Male

max_rows: you can check your system max rows with

In [ ]:
print(pd.options.display.max_rows)

60

In [5]:
print(fileload.head())

   id first_name                         email   gender
0   1       Baxy   bbutterley0@liveinternet.ru     Male
1   2    Jillian  jverbeke1@barnesandnoble.com   Female
2   3     Artair         ashimmings2@google.ru     Male
3   4     Bonita            bharbertson3@de.vu   Female
4   5      Brody     bwiersma4@kickstarter.com  Agender

In [ ]:
print(fileload.tail())

    id first_name                      email  gender
10  11       Theo   tkarpmana@altervista.org    Male
11  12      Donna  donealb@cocolog-nifty.com  Female
12  13       Orin   omarskellc@canalblog.com    Male
13  14    Chaunce        csaged@springer.com    Male
14  15   Sinclare       sswatridgee@cnet.com    Male

In [ ]:
print(fileload.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15 non-null     int64
 1   first_name  15 non-null     object
 2   email       15 non-null     object
 3   gender      15 non-null     object
dtypes: int64(1), object(3)
memory usage: 612.0+ bytes
None

**Cleaning data**

In [6]:
df = pd.read_csv('/content/sample_data/dirtydata.csv')
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112       NaN
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132       NaN
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

In [7]:
df = pd.read_csv('/content/sample_data/dirtydata.csv')
new_df = df.dropna()
print(new_df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

If at any place you want to change the original dataframe then use inplace=true

In [8]:
df = pd.read_csv('/content/sample_data/dirtydata.csv')
df.dropna(inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

**Replacing the empty values**: We will use fillna() method which will allow us to replace empty cell with value

In [9]:
df = pd.read_csv('/content/sample_data/dirtydata.csv')
df.fillna(110,inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112     110.0
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
22        45           110    100       119     282.0
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132     110.0
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

To replace only the empty value with one column you need to specify the column name

In [10]:
df = pd.read_csv('/content/sample_data/dirtydata.csv')
df.fillna({"Calories":110},inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112     110.0
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132     110.0
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

In [11]:
df = pd.read_csv('/content/sample_data/dirtydata.csv')
x = df["Calories"].mean()
df.fillna({"Calories":x},inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130    409.10
1         60  '2020-12-02'    117       145    479.00
2         60  '2020-12-03'    103       135    340.00
3         45  '2020-12-04'    109       175    282.40
4         45  '2020-12-05'    117       148    406.00
5         60  '2020-12-06'    102       127    300.00
6         60  '2020-12-07'    110       136    374.00
7        450  '2020-12-08'    104       134    253.30
8         30  '2020-12-09'    109       133    195.10
9         60  '2020-12-10'     98       124    269.00
10        60  '2020-12-11'    103       147    329.30
11        60  '2020-12-12'    100       120    250.70
12        60  '2020-12-12'    100       120    250.70
13        60  '2020-12-13'    106       128    345.30
14        60  '2020-12-14'    104       132    379.30
15        60  '2020-12-15'     98       123    275.00
16        60  '2020-12-16'     98       120    215.20
17        60  '2020-12-17'    100       120    300.00
18        45  '2020-12-18'     90       112    304.68
19        60  '2020-12-19'    103       123    323.00
20        45  '2020-12-20'     97       125    243.00
21        60  '2020-12-21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020-12-23'    130       101    300.00
24        45  '2020-12-24'    105       132    246.00
25        60  '2020-12-25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020-12-27'     92       118    241.00
28        60  '2020-12-28'    103       132    304.68
29        60  '2020-12-29'    100       132    280.00
30        60  '2020-12-30'    102       129    380.30
31        60  '2020-12-31'     92       115    243.00

In [12]:
df = pd.read_csv('/content/sample_data/dirtydata.csv')
x = df["Calories"].median()
df.fillna({"Calories":x},inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112     291.2
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132     291.2
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

Be Alert in Mode[0] is necesaary in function because of loop running and comparing value in mode

In [13]:
df=pd.read_csv('/content/sample_data/dirtydata.csv')
x = df["Calories"].mode()[0]
df.fillna({"Calories":x},inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112     300.0
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132     300.0
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

to_datetime()  function

In [28]:
df = pd.read_csv('/content/sample_data/dirtydata.csv')
df['Date'] = pd.to_datetime(df['Date'],errors='coerce')
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60        NaT    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [30]:
fileload = pd.read_csv('/content/sample_data/dirtydata.csv')
print(fileload.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112       NaN
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132       NaN
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

**Cleaning and Fixing Data**

In [32]:
fileload = pd.read_csv('/content/sample_data/dirtydata.csv')
fileload.loc[7,"Duration"] = 45
print(fileload.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7         45  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112       NaN
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132       NaN
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

In [37]:
fileload = pd.read_csv('/content/sample_data/dirtydata.csv')
for i in fileload.index:
  if fileload.loc[i,"Pulse"]>105:
     fileload.loc[i,"Pulse"] = fileload.loc[i,"Pulse"]-50
print(fileload.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'     60       130     409.1
1         60  '2020-12-02'     67       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'     59       175     282.4
4         45  '2020-12-05'     67       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'     60       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'     59       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'     56       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112       NaN
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'     58       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020-12-23'     80       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132       NaN
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0

**Checking NULL Values**

In [48]:
fileload = pd.read_csv('/content/sample_data/dirtydata.csv')
for i in fileload.index:
  if pd.isnull(fileload.loc[i,"Date"]):
     fileload.drop(i, inplace=True)
print(fileload.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020-12-01'    110       130     409.1
1         60  '2020-12-02'    117       145     479.0
2         60  '2020-12-03'    103       135     340.0
3         45  '2020-12-04'    109       175     282.4
4         45  '2020-12-05'    117       148     406.0
5         60  '2020-12-06'    102       127     300.0
6         60  '2020-12-07'    110       136     374.0
7        450  '2020-12-08'    104       134     253.3
8         30  '2020-12-09'    109       133     195.1
9         60  '2020-12-10'     98       124     269.0
10        60  '2020-12-11'    103       147     329.3
11        60  '2020-12-12'    100       120     250.7
12        60  '2020-12-12'    100       120     250.7
13        60  '2020-12-13'    106       128     345.3
14        60  '2020-12-14'    104       132     379.3
15        60  '2020-12-15'     98       123     275.0
16        60  '2020-12-16'     98       120     215.2
17        60  '2020-12-17'    100       120     300.0
18        45  '2020-12-18'     90       112       NaN
19        60  '2020-12-19'    103       123     323.0
20        45  '2020-12-20'     97       125     243.0
21        60  '2020-12-21'    108       131     364.2
23        60  '2020-12-23'    130       101     300.0
24        45  '2020-12-24'    105       132     246.0
25        60  '2020-12-25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020-12-27'     92       118     241.0
28        60  '2020-12-28'    103       132       NaN
29        60  '2020-12-29'    100       132     280.0
30        60  '2020-12-30'    102       129     380.3
31        60  '2020-12-31'     92       115     243.0